{{!-- Copyright (c) 2020 Red Hat, Inc. --}}

<!DOCTYPE html>
<html lang="{{context.locale}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href="{{contextPath}}/{{manifest.main.css}}">
    <link rel='icon' href="{{contextPath}}/graphics/RHACM-Favicon.svg">
</head>
{{{body}}}
</html>
